.wrapper{
  position: relative;
  background: var(--dark-grayish-blue);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 30px 20px;
  color: var(--light-cyan);
  text-align: center;
}

.title{
  color: var(--neon-green);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.quoteWrapper{
  margin: 20px 0;
}

.quote{
  font-size: 1.5rem;
}

.quoteIcon {
  margin-bottom: 0.42rem;
}

.divider{
  background: url("../public/images/pattern-divider-mobile.svg") center no-repeat;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}

.diceBtn{
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--neon-green);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: -30px;
  left: calc(50% - 30px);
  border: 0;
}

.diceBtn:hover{
  cursor: pointer;
  box-shadow: 0 0 30px var(--neon-green);
}

.diceBtn img{
  width: 22px;
}

.attribution{
  font-size: 0.6rem;
  text-align: center;
}

@media (min-width: 600px){
  .wrapper{
    width: 500px;
  }

  .divider{
    background: url("../public/images/pattern-divider-desktop.svg") center no-repeat;
  }
}